.percent-complete,
.completed {
  font-family: "Montserrat", sans-serif;
}

.percent-complete {
  font-size: 2rem;
  color: #121212;
  margin: 0;
}

.completed {
  font-size: 0.876rem;
  opacity: 0.5;
  color: #121212;
  margin-top: 0;
}

.circular-progress-container {
  width: 5.626rem;
  height: 5.626rem;
  padding: 0.63rem 0.63rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress {
  position: absolute;
  border: solid 6px #307bbe;
  border-left-color: #e8e8e8;
  border-radius: 50%;
  width: 4.3rem;
  height: 4.3rem;
  transform: rotate(45deg);
}

.books {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 2rem;
  gap: 18rem;
}

.book-category,
.book-title,
.book-author {
  font-family: "Roboto Slab", serif;
}

.book-category {
  height: 1.125rem;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-title {
  font-weight: bold;
  margin-top: 0.2rem;
  font-size: 1.3rem;
  margin-bottom: 3px;
}

.book-author {
  font-size: 0.9rem;
  font-weight: 300;
  color: #4386bf;
  margin-top: 0;
}

.action-buttons {
  display: flex;
  align-items: center;
  margin-top: 1.313rem;
}

.progress-container {
  display: flex;
  align-items: center;
}

.progress-divider {
  width: 0.125rem;
  height: 4.375rem;
  margin: 0 3.688rem 0 4.938rem;
  background-color: #e8e8e8;
}

.current-chapter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 10rem;
}

.current-chapter-label,
.current-chapter,
.primary-button,
.add-book-btn,
.button-outline {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 0.813rem;
  letter-spacing: 0.5px;
  color: #121212;
  cursor: pointer;
}

.button-outline {
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-size: 0.9rem;
  align-items: center;
  padding: 0;
}

.vertical-divider {
  width: 0.1rem;
  height: 1.5rem;
  background-color: #e8e8e8;
  margin: 0 1rem;
}

.current-chapter-label {
  opacity: 0.5;
}

.current-chapter {
  margin-top: 0.6rem;
  font-size: 1rem;
  letter-spacing: -0.4px;
}

.primary-button {
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  color: white;
}
